@using Dominio;
@{
    ViewData["Title"] = "AltaPublicacionVenta";
}



<h1>Detalle de Venta</h1>

<br />
<br />

@if (ViewBag.detallePublicacionVenta == null)
{
    <div class="alert alert-danger">Publicación inexistente</div>
}
else
{

    Publicacion p = ViewBag.altaPublicacionVenta;


    <p><strong>Id: @p.Id</strong></p>
    <P><strong>Nombre: @p.Nombre</strong></P>
    <P><strong>Monto: @p.CalcularPrecio()</strong></P>

    <br />
    <br />

    <tbody>
        @foreach (Articulo a in p.Articulos)
        {
            <tr>
                <td><p><strong>Articulos: @a.Nombre</strong></p></td>
            </tr>
        }
    </tbody>

    <br />
    <br />

    <form>

        <label>Haga click para comprar</label><br />
        <input class="btn btn-success" type="submit" value="Comprar" />

    </form>
}


