@using Dominio;
@{
    ViewData["Title"] = "ListarPublicaciones";
}

<h1 class="text-center">Publicaciones</h1>

<br />
<br />

@if (ViewBag.ListadoPublicaciones == null || ViewBag.ListadoPublicaciones.Count == 0)
{
    <div class="alert alert-danger"><p>No hay articulos en el sistema</p></div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Publicacion p in ViewBag.ListadoPublicaciones)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Nombre</td>
                    <td>@p.Estado</td>
                    <td>@p.CalcularPrecio()</td>
                </tr>
            }
        </tbody>
    </table>
}