
@{
    ViewData["Title"] = "VistaVentas";
}

<h1 class="text-center">Ventas</h1>

<div class="container text-center">
    <div class="row row-cols-md-5 ">
        <div class="col ">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/pelotaDeFutbol.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pelota de Futbol</h5>
                        <p class="card-text">Pelota de futbol Tiffosi.</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/pelotaDeVolleyball.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pelota de Volleyball</h5>
                        <p class="card-text">Pelota de Volleyball Molten.</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/raquetaTenis.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Raqueta de Tenis</h5>
                        <p class="card-text">Raqueta de tenis Wilson</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/bicicleta.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bicicleta</h5>
                        <p class="card-text">Bicicleta de montaña.</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/pesas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pesas</h5>
                        <p class="card-text">Mancuernas de 10Kg.</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/pelotaBasket.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pelota de Basketball</h5>
                        <p class="card-text">Pelota de basketball Molten</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/iphone.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Móvil Iphone</h5>
                        <p class="card-text">Iphone Modelo SE2020</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/laptop.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Laptop HP</h5>
                        <p class="card-text">HP Pavilion 15</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/tablet.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tablet Apple </h5>
                        <p class="card-text">IPad Air 64 Gb </p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/auriculares.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Auriculares JBL </h5>
                        <p class="card-text">Auriculares JBL</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/monitor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Monitor</h5>
                        <p class="card-text">Monitor de 24 púlgadas</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/sofa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sofá</h5>
                        <p class="card-text">Sofá de 2 cuerpos</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/mesaComedor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mesa de comedor</h5>
                        <p class="card-text">Mesa para 4 personas</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/lampara.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lampara</h5>
                        <p class="card-text">Lamapara de pie</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/refrigerador.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Refrigerador</h5>
                        <p class="card-text">Refrigerador Indurama</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/microondas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Microondas</h5>
                        <p class="card-text">Microondas 20 Litros </p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/muñeca.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Muñeca Frozen</h5>
                        <p class="card-text">Muñeca Elsa Frozen</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/coche.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Coche de jueguete</h5>
                        <p class="card-text">Rayo McQueen Coche </p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/rompecabeza.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Rompecabeza</h5>
                        <p class="card-text">Rompecabeza 1000 piezas </p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/videojuego.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Videojuego PS4</h5>
                        <p class="card-text">Witcher 3 - PS4</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/construccion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Contrucción</h5>
                        <p class="card-text">Set de juguetes</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/reloj.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Smart Watch</h5>
                        <p class="card-text">Reloj Inteligente Aiwa</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/camara.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Camara Fotográfica</h5>
                        <p class="card-text">Cámara Canon</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/teclado.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Teclado Mecánico</h5>
                        <p class="card-text">Teclado Redragon </p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/mouse.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mouse Inalambrico</h5>
                        <p class="card-text">Mouse Xiaomi</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/impresora.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Impresora</h5>
                        <p class="card-text">Impresora Brother</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/cama.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cama</h5>
                        <p class="card-text">Cama de 1 plaza</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/Silla.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Silla</h5>
                        <p class="card-text">Silla de Oficina</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/aspiradora.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aspiradora</h5>
                        <p class="card-text">Aspiradora 1800 w</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/cafetera.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cafetera</h5>
                        <p class="card-text">Cafetera SmartLife</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/tostadora.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tostadora</h5>
                        <p class="card-text">Tostadora Aiwa</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/patineta.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Patineta</h5>
                        <p class="card-text">Patineta Longboard</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/casco.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Casco</h5>
                        <p class="card-text">Casco Bicicleta</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/zapatillas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Zapatillas</h5>
                        <p class="card-text">Zapatillas Adidas</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/cinta.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cinta</h5>
                        <p class="card-text">Cinta de correr</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/guantes.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Guantes de Boxeo</h5>
                        <p class="card-text">Guantes Venum Elite</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/drone.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Drone</h5>
                        <p class="card-text">Drone HolyStone</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/consola.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Consola</h5>
                        <p class="card-text">Consola PS4</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tv</h5>
                        <p class="card-text">Smart Tv Aiwa</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/consola.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cargador</h5>
                        <p class="card-text">Cargador Aukey</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/router.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Router</h5>
                        <p class="card-text">Router Tp-Link</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/drone.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Drone</h5>
                        <p class="card-text">Drone HolyStone</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/sillaComedor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Silla de comedor</h5>
                        <p class="card-text">Silla aterciopelada</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/ventilador.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ventilador</h5>
                        <p class="card-text">Ventilador de pie</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/estufa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Estufa</h5>
                        <p class="card-text">Calefactor inserto pared</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/plancha.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Planca de ropa</h5>
                        <p class="card-text">Planchita Phillips</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/cortina.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cortina</h5>
                        <p class="card-text">Cortina Algodón</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/juegoMesa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Juego de mesa</h5>
                        <p class="card-text">Juego Scrabble</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/playa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pelota de playa</h5>
                        <p class="card-text">Pelota inflable</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/peluche.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Peluche</h5>
                        <p class="card-text">Peluche Jazwares</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <div>
                    <img src="/img/lego.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lego</h5>
                        <p class="card-text">Lego Minegraft</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


       


