@using Dominio;
@{
    ViewData["Title"] = "CargarSaldoBilletera";
}

<h1>Cargar Saldo en Billetera</h1>

<form class="form-group">
    <div>        

        
    </div>
    <div>
        <label>Ingrese Monto</label>
        <input type="number" placeholder="Ingrese un monto" />
        <br />
        <input class="btn btn-primary"type="submit" value="Ingresar" />
    </div>


</form>